body {
  background-color: hsl(217, 54%, 11%);
  color: hsl(215, 51%, 70%);
  font-size: 15px;
  font-family: "Outfit", sans-serif;
}

.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nft-card {
  max-width: 275px;
  background-color: hsl(216, 50%, 16%);
  padding: 26px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 0px 25px hsla(178, 100%, 50%, 0.5);
}

.nft-card__image img {
  width: 100%;
  border-radius: 10px;
}
.nft-card__image {
  position: relative;
  cursor: pointer;
}
.nft-card__overlay {
  position: absolute;
  inset: 0;
  background-color: hsla(178, 100%, 50%, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}
.nft-card__overlay img{
  width: 25px;
  height: 25px;
}

.nft-card__image:hover .nft-card__overlay {
  opacity: 1;
}

.nft-card__title {
  margin-top: 20px;
  font-size: 20px;
  color: hsl(0, 0%, 100%);
  transition: opacity 0.3s ease;
}
.nft-card__title:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

.nft-card__description {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 12px;
}

.nft-card__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid hsl(215, 32%, 27%);
}

.nft-card__price-group,
.nft-card__time-group {
  display: flex;
  align-items: center;
}

.nft-card__price-group img {
  width: 15px;
  margin-right: 6px;
}

.nft-card__price {
  color: hsl(178, 100%, 50%);
  font-weight: 600;
}

.nft-card__time-group img {
  width: 20px;
  margin-right: 6px;
}

.nft-card__creator {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.nft-card__avatar {
  width: 30px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  margin-right: 10px;
}

.nft-card__creator-text {
  font-size: 14px;
}

.nft-card__creator-name {
  color: hsl(0, 0%, 100%);
  transition: opacity 0.3s ease;
}

.nft-card__creator-name:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

@media (min-width: 768px) {
  .page{
    min-height: 120vh;
  }
  .nft-card {
    max-width: 300px;
    padding: 27px;
  }
  .nft-card__title {
    font-size: 24px;
  }

  .nft-card__description {
    font-size: 16px;
  }
  .nft-card__price-group,
  .nft-card__time-group {
   font-size: 17px;
}

  .nft-card__creator-text {
    font-size: 18px;
  }
}